#P1
{
	color:#eb6626;
}
#P2
{
 background: #27509e;
 padding: 2px;
 display: inline-block;
 color: #eb6626;
 margin-top: 9px;
}
   #disc {
    list-style-type: none; 
   }
   #disc:before {
    content: ". "; 
   }
   #par {
    list-style-type: none; 
   }
   #par:before {
    content: "§ "; 
   }
