.header
{
	background-color: #2E2A5F;
}

.phone
{
	font-size: 25px;
}
#work
{
	height: 40px;
	width: 40px;
}
#remote
{
	height: 50px;
	width: 50px;
}
#allwork
{
	height: 40px;
	width: 40px;
}
.galery
{
	opacity: 1;
}
#carusel_galery
{
	margin:auto;
	width: 80%
}
/*<img id="work" src="work.png"> <br>*/