#first
{
background-color: #FFA500;
height :100px;
width :645px;

}
#second
{
background-color: #FFA500;
height :100px;
width :655px; 
}
#third
{
	background-color: #00008B;
	height: 250px;
}
#fourth
{
background-color:#00FF00;
height: 150px;
width: 33%;

}
#fifth
{
background-color:#00FF00;
height: 150px;
width: 33%;
}
#sixth
{
background-color:#00FF00;
height: 150px;
width: 33%;
}
#seventh
{
background-color:#000000;
height: 100px;
}
#eighth
{
background-color:#000000;
height: 100px;
}
#nineth
{
background-color:#000000;
height: 100px;
}
#tenth
{
background-color:#000000;
height: 100px;
}
