#parent
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
@keyframes anim
{
from {background: url('Sindel.png') 0 0px;}
to {background: url('Sindel.png') -328px 0;}
}
#sindel
{
	margin-left: -246px;
	width: 328px;
	height: 148px;
	position: fixed;

	animation: anim 1s steps(4) 1; 
}
.bounce
{
	height: 200px;
	width: 200px;
	border-radius: 100px;
	background-color: #ff0000;
	text-align: center;
	vertical-align: middle;
	line-height: 12;
	font-family: Arial;
	font-weight: bold;
	margin: 30px;
	margin-top: 40px;
}
#b1
{
	background-color: #ff0000;
	animation: bounceInLeft 1s 1;
}
#b2
{
	background-color: #00ff00;
	animation: bounceInUp 2s 2;
}
#b3
{
	background-color: #0000ff;
	animation: bounceInDown 3s 1;
}
#b4
{
	background-color: #ffff00;
	animation: bounceIn 4s infinite;
}
#b5
{
	background-color: #FF00FF;
	animation: bounceInRight 5s 1;
}
#b6
{
	background-color: #191970 ;
	animation: bounceOutLeft 6s 1;
}
#b7
{
	background-color:#FFA500 ;
	animation: bounceOutUp 7s 1;
}
#b8
{
	background-color:#008000 ;
	animation: bounceOutDown 5s 2;
}
#b9:hover
{
	background-color:#00FF00 ;
	animation: bounceOut 4s 1;
}
#b10:hover
{
	background-color:#00FFf0 ;
	animation: flip 4s 1;
}
#b11
{
	background-color:#0fFF00 ;
	animation: flash 0.1s infinite;
}
#b12
{
	background-color:#0fFF00 ;
	animation: heartBeat 0.1s infinite;
}
#b13:hover
{
	background-color:#ffFF00 ;
	animation: heartBeat 0.1s infinite;
}


